html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --fontsizeP: 1.2em;
    --fontsizeH2: 1.8em;
}

@font-face {
    font-family: Atkinson Hyperlegible;
    src: url(../fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

body {
    font-family: Atkinson Hyperlegible;
    color: var(--wit);
    margin: 0;
    background-color: var(--paars) ;
}

h2 {
    font-size: var(--fontsizeH2);
    color: var(--paars);
    -webkit-text-stroke: 4px var(--wit);
    paint-order: stroke fill;
}

nav {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 0.5em 1em;
}

h1 {
    font-size: 5em;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
}

p {
    font-size: var(--fontsizeP);
}

main, footer {
    padding: 1em;
}

.cta, .koopbtn {
    text-decoration: none;
    font-weight: bold;
    color: var(--wit);
    background-color: var(--groen);
    font-size: 3em;
    padding: 0.2em 0.8em;
    border-radius: 999px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
}

.mindydumbbell {
    position: absolute;
    width: 30em;
    top: 200px;
    right: -150px;
    z-index: -99;
}

.kernwaardensection h2, .merch h2, .faq h2, .contact h2 {
    text-align: center;
}

.kernwaarden {
    display: flex;
    justify-content: center;
    gap: 3em;
    text-align: center;
}

.kernwaarden img {
    width: 4em;
}

.kernwaarden p {
    margin: 0;
}

.doel img, .activiteiten img {
    width: 100%;
}

.merchitems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1em;
}

.merchitems div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.merchitems p {
    margin: 0.5em;
}

.merchitems img {
    width: 100%;
}

.faq details {
    background-color: var(--paars);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    border: 3px solid var(--wit);
}

.faq summary {
    font-size: var(--fontsizeP);
    cursor: pointer;
}

.contact form div {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.contact input {
    box-sizing: border-box;
    height: 2.5em;
    border: none;
    border-radius: 99px;
}

.contact input[type=submit] {
    
}



footer {
    border-top: 2px solid var(--wit);
    text-align: center;
}