html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --fontsizeP: 1.2em;
    --fontsizeH2: 1.8em;

    --padding: 1em;

    scroll-behavior: smooth;
}

@font-face {
    font-family: Atkinson Hyperlegible;
    src: url(../fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

body {
    font-family: Atkinson Hyperlegible;
    color: var(--wit);
    margin: 0;
    background-color: var(--paars);
}

h1 {
    font-size: 3em;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    margin: 0.5em 0 0 0;
}

h2 {
    font-size: var(--fontsizeH2);
    color: var(--paars);
    -webkit-text-stroke: 4px var(--wit);
    paint-order: stroke fill;

    margin: 0;
    margin-bottom: 0.5em;
}

p {
    font-size: var(--fontsizeP);

    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--paars);
    z-index: 999;
}

.navlogo {
    width: 8em;
}

.dropdown-label img {
    width: 1.5em;
}

.menu_x {
    display: none;
}

.dropdown-label {
    cursor: pointer;
}

.dropdown input {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--paars);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    list-style: none;
    padding: 0;
    border-top: 2px solid var(--wit);
    margin: 3em 0 0 0;
}

.dropdown-menu li:hover {
    background-color: #9763c1;
}

.dropdown-menu a {
    display: flex;
    text-decoration: none;
    color: var(--wit);
    font-weight: bold;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    height: 2em;
}

section[id] {
    scroll-margin-top: 200px;
}

.dropdown-toggle:checked ~ .dropdown-menu {
    display: block;
}

.dropdown-toggle:checked ~ .dropdown-label .menu_x {
    display: inline;
}

.dropdown-toggle:checked ~ .dropdown-label .menu_hamburger {
    display: none;
}

section, footer, header {
    padding: 0 var(--padding);
}

section {
    margin-top: 3em;
}

.contact input[type=submit] {
    all: unset;
}

.cta, .koopbtn, .contact input[type=submit] {
    text-decoration: none;
    font-weight: bold;
    color: var(--wit);
    background-color: var(--groen);
    font-size: 2em;
    padding: 0.2em 0.8em;
    border-radius: 999px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.cta {
    order: 2;
}

.mindydumbbell {
    order: 1;
    height: 15em;
    margin: 0 auto;
}

.mindydumbbelltablet {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

header span {
    text-decoration: underline;
}

header p {
    margin: 0.5em 0;
}

.kernwaardensection h2, .merch h2, .faq h2, .contact h2 {
    text-align: center;
}

.kernwaarden {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.kernwaarden img {
    width: 3em;
}

.kernwaarden p {
    margin: 0;
    font-size: 1em;
}

.klimmenillustratie, .fietsenillustratie {
    width: 100%;
    margin-top: -6em;
}

.merchitems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 1em;
}

.merchitems div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.merchitems p {
    margin: 0.2em 0 0 0;
    text-align: center;
}

.merchitems img {
    width: 100%;
}

.merch {
    display: flex;
    flex-direction: column;
}

.koopbtn {
    margin-top: 1em;
}

.faq details {
    background-color: var(--paars);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    padding: 1em;
    margin: 1em 0;
    border-radius: 30.039px;
    border: 3px solid var(--wit);
}

.faq details p {
    margin-top: 0.5em;
}

.faq summary {
    font-size: var(--fontsizeP);
    cursor: pointer;
    font-weight: bold;
}

.contact form div {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.contact label {
    font-size: var(--fontsizeP);
    padding-bottom: 0.3em;
}

.contact input {
    box-sizing: border-box;
    height: 2.5em;
    border: none;
    border-radius: 24px;
    font-size: var(--fontsizeP);
    font-family: Atkinson Hyperlegible;
    width: 100%;
}

#bericht {
    height: 10em;
}

.contact img {
    display: block;
    margin: 0 auto;
    width: 75%;
}

footer {
    border-top: 2px solid var(--wit);
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2em;
    padding: 1em 0;
}

.footerlogo {
    width: 10em;
}

footer p {
    margin: 0;
}

.socials {
    width: 50%;
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: space-between;
}

.socials a {
    height: 24px;
}


@media (min-width: 700px) {
    html {
        --fontsizeP: 1.8em;
        --fontsizeH2: 2.4em;

        --padding: 2.5em;
    }

    h1 {
        font-size: 6em;
    }

    .navlogo {
        width: 15em;
    }

    .dropdown-label img {
        width: 2.2em;
    }

    .mindydumbbell {
        display: none;
    }
    
    .mindydumbbelltablet {
        display: inline;
        position: absolute;
        right: 0;
        top: 180px;
        z-index: -999;
    }

    header p {
        padding-right: 10em;
        padding-bottom: 1em;
    }

    .cta {
        width: 50%;
    }

    .cta, .koopbtn, .contact input[type=submit] {
        font-size: 3em;
        padding: 0.2em 0.8em;
    }

    .dropdown-menu {
        margin-top: 4.5em;
    }

    .dropdown-menu a {
        font-size: 2.5em;
        height: 2.5em;
    }

    .kernwaarden img {
        width: 5.5em;
    }

    .kernwaarden p {
        margin: 0;
        font-size: var(--fontsizeP)
    }
}