html {
    --wit: #F5F5F5;
    --zwart: #1C1C1C;
    --paars: #A874D2;
    --groen: #7DDE92;

    --fontsizeP: 1.2em;
    --fontsizeH2: 1.8em;
}

@font-face {
    font-family: Atkinson Hyperlegible;
    src: url(../fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf);
}

body {
    font-family: Atkinson Hyperlegible;
    color: var(--wit);
    margin: 0;
    background-color: var(--paars);
}

h2 {
    font-size: var(--fontsizeH2);
    color: var(--paars);
    -webkit-text-stroke: 4px var(--wit);
    paint-order: stroke fill;
}

nav {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

.navlogo {
    width: 8em;
}

h1 {
    font-size: 3em;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    margin: 0.5em 0 0 0;
}

p {
    font-size: var(--fontsizeP);
}

main section, footer, header {
    padding: 1em;
}

.doel img {
    padding: 0;
}

.cta, .koopbtn {
    text-decoration: none;
    font-weight: bold;
    color: var(--wit);
    background-color: var(--groen);
    font-size: 2em;
    padding: 0.2em 0.8em;
    border-radius: 999px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.cta {
    order: 2;
}

.mindydumbbell {
    /*position: absolute;
    width: 30em;
    top: 200px;
    right: -150px;
    z-index: -99;*/
    order: 1;
    height: 15em;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
}

header span {
    text-decoration: underline;
}

header p {
    margin: 0.5em 0;
}

.kernwaardensection h2, .merch h2, .faq h2, .contact h2 {
    text-align: center;
}

.kernwaarden {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.kernwaarden img {
    width: 3em;
}

.kernwaarden p {
    margin: 0;
    font-size: 1em;
}

.doel img, .activiteiten img {
    width: 100%;
}

.merchitems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 1em;
}

.merchitems div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.merchitems p {
    margin: 0.5em 0 0 0;
}

.merchitems img {
    width: 100%;
}

.faq details {
    background-color: var(--paars);
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    padding: 1em;
    margin: 1em 0;
    border-radius: 30.039px;
    border: 3px solid var(--wit);
}

.faq summary {
    font-size: var(--fontsizeP);
    cursor: pointer;
}

.contact form div {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.contact label {
    font-size: var(--fontsizeP);
    padding-bottom: 0.3em;
}

.contact input {
    box-sizing: border-box;
    height: 2.5em;
    border: none;
    border-radius: 24px;
    font-size: var(--fontsizeP);
    font-family: Atkinson Hyperlegible;
    width: 100%;
}

#bericht {
    height: 10em;
}

.contact input[type=submit] {
    font-weight: bold;
    color: var(--wit);
    background-color: var(--groen);
    font-size: 1.5em;
    /*padding: 0.2em 0.8em;*/
    border-radius: 999px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.contact img {
    display: block;
    margin: 0 auto;
    width: 15em;
}

footer {
    border-top: 2px solid var(--wit);
    text-align: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 2em;
}

.footerlogo {
    width: 15em;
}

footer p {
    margin: 0;
}

.socials {
    display: flex;
    place-content: center;
    align-items: center;
    gap: 2em;
}

.socials a {
    height: 24px;
}